body {
  background: #ffffff;
}

.head-calc {
  margin-top: 68px;
  font-family: Roboto;
  font-weight: bold;
  font-size: 3.75rem;
  line-height: 4.375rem;
}

.sub-head-calc {
  color: #718096;
  line-height: 28px;
  font-size: 1.5rem;
  font-family: Karla;
}

.amount {
  width: 916px;
  height: 195px;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
  box-sizing: border-box;
  margin-top: 51px;
}

.balance {
  font-family: Karla;
  font-size: 1.25rem;
  line-height: 23px;
  margin-top: 50px;
}

.currency {
  color: #062863;
  font-family: Montserrat;
  font-weight: 600;
  font-size: 3.45rem;
  line-height: 67px;
}

.deposit-amount {
  font-family: Montserrat;
  font-weight: 500;
  font-size: 2.5rem;
  line-height: 49px;
  margin-top: 72px;
}

#deposit_amount {
  width: 915px;
  height: 92px;
  border: 2px solid #e2e8f0;
  border-radius: 10px;
}

.time {
  width: 915px;
  margin-top: 60px;
}

.time-sep {
  border: 2px solid #E2E8F0;
  box-sizing: border-box;
  border-radius: 10px;
  width: 169px;
  height: 92px;
  font-family: Montserrat;
  line-height: 29px;
  font-size: 1.5rem;
  cursor: pointer;
}

.time-text {
  margin-top: 32px;
}

.product {
  font-family: Montserrat;
  font-size: 2.5rem;
  line-height: 49px;
  margin-top: 54px;
}
.flex-container-1{
  display: flex;
  justify-content: space-between;
}

.flex-container-2{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.product1{
  width: 410px;
  height: 175px;
  background: #CCF0FE;
  border-radius: 10px;
  cursor: pointer;
}

.product2{
  width: 410px;
  height: 175px;
  background: #FFEAF5;
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
}

.selectedProduct{
  
  border: 1px solid #718096;
}

.product3{
  width: 410px;
  height: 175px;
  background: #E7F6FF;
  border-radius: 10px;
  cursor: pointer;
}

.product4{

  width: 410px;
  height: 175px;
  background: #EFF4F5;
  border-radius: 10px;
  cursor: pointer;
}
.product-title p{
  margin-top: 47px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #0D60D9;
  margin-left: 25px;
}
.product-disc{
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  margin-left: 25px;
  color: #000000;
  margin-top:11px;
}

hr{
  width: 80%;
}

.details{

}

.interest{
  margin-top: 15px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 49px;
  color: #000000;
}

.daily-interest{
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.daily-interest p{
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;

  color: #000000;
}

.calculate{
  height: 100px;
  width: 700px ;
  margin: 25px auto;
  background: #C4C4C4;
  border-radius: 10px;
  text-align: center;
}
.selectedDay{
  background-color: #CCF0FE;
}