body {
  background: #ffffff;
}
a:hover{
  text-decoration: none;
}
.text-primary{
  color: #083E9E !important;
}
.btn-success{
  background-color: #30c57b;
  border: #30c57b;
}
.btn-success{
  background-color: #30c57b;
  border: #30c57b;
}
.bg-primary{
  background-color: #083E9E !important;
}
.badge-success{
  background-color: #30c57b !important;
  /* border: #30c57b !important; */
}
.badge-primary{
  background-color: #083E9E !important;
}
.custom-top-radius{
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.tab-active{
    color: #fff !important;
    background-color:#083E9E !important;
    border-bottom: 2px solid #30c57b;
    font-size: 1.125rem;
}